.header {
    justify-content: space-between;
    color: antiquewhite;
    display: flex;
    min-height: 80px;
    width: 100%;
    background-color: rgb(91, 89, 89);
    position: absolute;
    font-family: 'Poppins';
    padding: 0 20px;
    font-size: 15px;
}
