.header {
    justify-content: space-between;
    color: antiquewhite;
    display: flex;
    width: 500px;
    margin-left: 470px;
    background-color: rgb(53, 53, 53);
    margin-top: 90px;
    position: absolute;
    border-radius: 5px;
    font-family: 'Poppins';
    padding: 0 20px;
    font-size: 15px;
}
